/* style settings for div container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* style settings for header */
.header {
    background-color: url('assets/images/soccerimage10.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: orange;
}

/* style settings for welcome message */
.welcome {
    text-align: center;
    color: black
}

/* style settings for images */
.players {
    width: 33%;
    border: 1px solid orange;

}