/* style settings for div container */
/* taken from w3schools */
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* style settings for header */
/* taken from w3schools */
.header {
    background-color: url('assets/images/soccerimage10.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}

/* style settings for images */
/* taken from w3schools */
.image-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 auto;
}

/* taken from w3schools */
.image-container img {
    width: 33.33%;
    height: auto;
}

.main-content {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* style settings for header */
/* taken from w3schools */
header {
    background-color: #000000;
    background-size: cover;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

/* styles settings for the nav ul */
/* taken from w3schools*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right
}

/* styles settings for the nav ul li */
/* taken from w3schools*/
nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
}


/* styles settings for footer */
/* taken from w3schools*/
footer {
    background-color: #000000;
    color: orange;
    padding: 10px 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
}