/* background style settings for header */
.header {
    background-color: url('assets/images/soccerimage10.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: orange;
}
.welcome {
    text-align: center;
    color: black
}